{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}

<div class="container">
    <h5>textomat: ai text generation...</h5>
</div>

<div class="container">

  <form action="{{ url_for('index') }}" method="post">
      <div class="input-group">
          <input pattern=".{3,50}" class="form-control" type="text" name="text-input">
          <span class="input-group-btn">
          <button class="btn btn-danger" type="submit" onclick="">Send</button>
         </span>
      </div>
    </form>

</div>

<div class="container">
    <div class="text-area">
        {% if output %}{{ output }}{% endif %}
    </div>
</div>

{% endblock %}
