{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}

<div class="container">
    <h5>text-o-mat: machine text generator!
    <button class="btn btn-danger clearbutton" onclick="cleartext()">clear</button>
    </h5>
</div>

<!--
<div class="container">
      <div class="input-group">
          <input pattern=".{3,50}" class="form-control" type="text" name="text-input" placeholder="whats on your mind?">
          <button class="btn btn-danger" type="submit" onclick="loadtext(); return 0;">Send</button>
          <button class="btn btn-info" type="submit" onclick="cleartext()">clear</button>
      </div>

</div>
-->

<div class="container outputarea">
  <div class="text-area" id="textoutput">
          {% if output %}{{ output }}{% endif %}
  </div>
</div>

<script src="{{ url_for('static', filename='index.js') }}"></script>

<script src="{{ url_for('static', filename='core.js') }}"></script>

{% endblock %}
